venv/
*.sqlite3
*.bin
*.pyc
__pycache__/
*.pyc
*.pyo
*.pyd
*.txt
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.mp4
*.avi
*.mov
*.mkv
*.webm
*.mp3
*.wav
*.ogg
*.flac
*.zip
*.tar
*.gz
*.bz2
*.xz
*.7z
*.rar
*.tar.gz

*.tar.bz2
*.tar.xz
*.tar.7z
*.tar.lz
*.tar.lzma
*.tar.lzo
*.tar.zst
*.tar.zstd
*.tar.lzop
*.tar.lz4
*.tar.lzma2
*.tar.lz4
*.tar.lz4c
*.tar.lz4f
*.tar.lz4f

